# Project - Portfolio Management

## Group: Danjou Arthur & Forest Thais

### Time period studied from 2017-01-01 to 2018-01-01

### Risk-free rate: 2%

In [51]:
import yfinance as yf
import pandas as pd
import numpy as np

In [52]:
# Data Extraction
Tickers = ["^RUT", "^IXIC", "^GSPC", "XWD.TO"]
start_input = "2017-01-01"
end_input = "2018-01-01"
S = pd.DataFrame()
for t in Tickers:
    S[t] = yf.Tickers(t).history(start=start_input, end=end_input)["Close"]

S = S.interpolate(method="pad")

# Show the first five and last five values extracted
display(S.head())
display(S.tail())
print(S.shape)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
/var/folders/tp/_ld5_pzs6nx6mv1pbjhq1l740000gn/T/ipykernel_92506/348989065.py:9: FutureWarning: DataFrame.interpolate with method=pad is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  S = S.interpolate(method="pad")

                                  ^RUT        ^IXIC        ^GSPC     XWD.TO
Date
2017-01-03 00:00:00+00:00  1365.489990  5429.080078  2257.830078  38.499630
2017-01-04 00:00:00+00:00  1387.949951  5477.000000  2270.750000  38.553375
2017-01-05 00:00:00+00:00  1371.939941  5487.939941  2269.000000  38.481716
2017-01-06 00:00:00+00:00  1367.280029  5521.060059  2276.979980  38.517544
2017-01-09 00:00:00+00:00  1357.489990  5531.819824  2268.899902  38.383186

                                  ^RUT        ^IXIC        ^GSPC     XWD.TO
Date
2017-12-22 00:00:00+00:00  1542.930054  6959.959961  2683.340088  44.323349
2017-12-26 00:00:00+00:00  1544.229980  6936.250000  2680.500000  44.323349
2017-12-27 00:00:00+00:00  1543.939941  6939.339844  2682.620117  44.052303
2017-12-28 00:00:00+00:00  1548.930054  6950.160156  2687.540039  43.857414
2017-12-29 00:00:00+00:00  1535.510010  6903.390137  2673.610107  43.784576

(251, 4)

In [53]:
R = S / S.shift() - 1
R = R[1:]
mean_d = R.mean()
covar_d = R.cov()
corr = R.corr()

In [54]:
mean = mean_d * 252
covar = covar_d * 252
std = np.sqrt(np.diag(covar))

In [55]:
print("Mean:\n")
print(mean)
print("\nCovariance:\n")
print(covar)
print("\nStandard Deviation:\n")
print(std)
print("\nCorrelation:\n")
print(corr)

Mean:

^RUT      0.125501
^IXIC     0.246863
^GSPC     0.172641
XWD.TO    0.133175
dtype: float64

Covariance:

            ^RUT     ^IXIC     ^GSPC    XWD.TO
^RUT    0.014417  0.008400  0.006485  0.004797
^IXIC   0.008400  0.009182  0.005583  0.004337
^GSPC   0.006485  0.005583  0.004426  0.003309
XWD.TO  0.004797  0.004337  0.003309  0.006996

Standard Deviation:

[0.12007222 0.09582499 0.06653127 0.08364295]

Correlation:

            ^RUT     ^IXIC     ^GSPC    XWD.TO
^RUT    1.000000  0.730047  0.811734  0.477668
^IXIC   0.730047  1.000000  0.875687  0.541087
^GSPC   0.811734  0.875687  1.000000  0.594658
XWD.TO  0.477668  0.541087  0.594658  1.000000

# Question 1

In [56]:
r = 0.02
d = len(Tickers)
vec1 = np.linspace(1, 1, d)
sigma = covar
inv_sigma = np.linalg.inv(sigma)

a = vec1.T.dot(inv_sigma).dot(vec1)
b = mean.T.dot(inv_sigma).dot(vec1)

In [57]:
# Tangent portfolio
pi_T = inv_sigma.dot(mean - r * vec1) / (b - r * a)
sd_T = np.sqrt(pi_T.T.dot(sigma).dot(pi_T))  # Variance
m_T = pi_T.T.dot(mean)  # expected return

print(f"Expected return m_T: {m_T}")
print(f"Standard deviation sd_T: {sd_T}")
print(f"Allocation pi_T: {pi_T}")
print(
    f"We can verify that the allocation is possible as the sum of the allocations for the different indices is {sum(pi_T)}, that is very close to 1"
)

Expected return m_T: 0.2364033641931515
Standard deviation sd_T: 0.07276528490265963
Allocation pi_T: [-0.60853811  0.45748917  1.17944152 -0.02839259]
We can verify that the allocation is possible as the sum of the allocations for the different indices is 0.9999999999999993, that is very close to 1

# Question 2

In [58]:
for i in range(len(std)):
    print(f"The annualized volatilities of the index {Tickers[i]} is {std[i]}")
    print(
        f"The annualized expected returns of the index {Tickers[i]} is {mean[Tickers[i]]}"
    )
    print("")

print(f"The annualized volatility of the Tangent Portfolio is {sd_T * np.sqrt(252)}")
print(f"The annualized expected return of the Tangent Portfolio is {m_T * 252}")

The annualized volatilities of the index ^RUT is 0.12007221535411407
The annualized expected returns of the index ^RUT is 0.12550141384538263

The annualized volatilities of the index ^IXIC is 0.09582499431305072
The annualized expected returns of the index ^IXIC is 0.24686267015709437

The annualized volatilities of the index ^GSPC is 0.06653126757186174
The annualized expected returns of the index ^GSPC is 0.17264098207081371

The annualized volatilities of the index XWD.TO is 0.08364295296865466
The annualized expected returns of the index XWD.TO is 0.1331750489518068

The annualized volatility of the Tangent Portfolio is 1.155113087587201
The annualized expected return of the Tangent Portfolio is 59.57364777667418

# Question 3

In [59]:
print("sharpe ratio of the Tangent portfolio :", (m_T - r) / sd_T)

for i in range(4):
    print(
        f"the sharpe ratio of the index {Tickers[i]} is {(mean[Tickers[i]] - r) / std[i]}"
    )

sharpe ratio of the Tangent portfolio : 2.9739918490340687
the sharpe ratio of the index ^RUT is 0.8786496820620858
the sharpe ratio of the index ^IXIC is 2.3674686524473625
the sharpe ratio of the index ^GSPC is 2.294274371158541
the sharpe ratio of the index XWD.TO is 1.353073330567601